.footer {
    padding-top: 60px;
    padding-bottom: 30px;
    background: var(--primary-color);
}

.footer-text {
    line-height: 30px;
    color: rgba(255, 255, 255, 0.735);
}

.footer-quick-links ul li{
    background: transparent !important;
}

.footer-quick-links ul li a{
    color: rgba(255, 255, 255, 0.735);
}

.quick-link-title {
    margin-bottom: 30px;
    font-style: 1.1rem;
    color: #fff;
}